<div class="w-100 d-flex justify-content-center text-center">
    <div class="column w-75">
        <h1>All Types</h1>
        <div class="row">
            <% @types.each do |typ| %>
                <div class="col-12 col-md-4 col-lg-2">
                    <div class="card">
                        <div class="image">
                            <i><%= get_type_icon(typ.id) %></i>
                        </div>
                        <div class="card-inner">
                            <div class="header">
                                <h2><%= link_to typ.name, "/types/#{typ.id}" %></h2>
                            </div>
                            <div class="content">
                                <p><%= typ.created_at %></p>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <h4><%= link_to 'Add new', new_type_path, :class => 'btn btn-colorprimary' %></h4>
    </div>
</div>
