<div class="column">
    <h1 class="col-12">New Type</h1>
    <%= form_with(model: @type) do |f| %>
        <div class="field">
            <%= f.label :name %>
            <br>
            <%= f.text_field :name %>
        </div>
        
        <div class="actions">
            <%= f.submit %>
        </div>
    <% end %>
</div>
