<div class="w-100 d-flex justify-content-center text-center">
    <div class="mainbody">
            <div class="maintext">
                <%= image_tag "logo.png", class: 'logo' %>
                <h1 class="pt-5"> Welcome to Expenses Tracker! </h1>
                <h3> An easy way to manage your expenses and keep track of your budget! </h3>
            </div>
    </div>
</div>